.header__lang-link {
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-right: 18px;
  text-decoration: none;
}

.header__lang-link:nth-child(2) {
  margin: 0;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {

  .header__lang-link {
    line-height: 20px;
    font-size: 18px;
  }

}
