.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  z-index: 0;
  text-decoration: none;
  min-height: 740px;
}

.cover__link:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  opacity: 0.3;
  z-index: -1;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }

}

@media screen and (max-width: 780px) {
  .cover__link {
  min-height: 480px;
  }

}

@media screen and (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }

}
