.place__title {
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 460px;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
  }

}
