.header {
  max-width: 1184px;
  max-width: 92.5%;
  margin: 28px 48px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .header {
    margin: 28px 48px 48px;
  }

}

@media screen and (max-width: 1024px) {
  .header {
    margin: 28px 24px 48px;
  }

}

@media screen and (max-width: 767px) {
  .header {
    margin: 16px 16px 48px;
  }

}
