.place {
  max-width: 984px;
  margin: 0 auto 80px;
  display: grid;
  justify-content: start;
  align-self: start;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(320px, 460px));
  gap: 48px 40px;
}

@media screen and (max-width: 1279px) {
  .place {
    margin: 0 48px 73px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 440px));
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    gap: 48px 28px;
    margin: 0 24px 73px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 340px));
  }
}
@media screen and (max-width: 767px) {
  .place {
    margin: 0 0 50px;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.place:last-child {
  margin-bottom: 0;
}
