.footer {
  margin: 92px auto 24px;
  max-width: 1184px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }

}
